* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #ffff;
  --color-primary: #1678cb;
  --color-text: #3b8bea;
  --color-small: #7e7e7e;
}
body {
  background-color: var(--color-bg);
}
/* form css*/
button {
  height: 49px;
  border-radius: 15px;
  color: var(--color-bg);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #1678cb;
  background-color: var(--color-primary);
}
.NameForm {
  width: 142px;
}
button:hover {
  color: var(--color-text);
  background-color: var(--color-bg);
}
.container {
  display: flex;
  justify-content: space-between;
  height: 1vh;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  box-shadow: -1px 0px 13px black;
  width: 516px;
  height: 630px;
  margin-top: 19px;
  padding: 100px 0px 89px 50px;
}
* > input {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid var(--color-small);
  width: 360px;
  font-size: 16px;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}
.span {
  margin-top: -70px;
  font-size: 12px;
  color: var(--color-small);
}
.option {
  margin-top: -20px;
  align-self: center;
  margin-left: 150px;
}

.option > span {
  font-size: 12px;
  color: var(--color-small);
}
/* logo css*/
.logo > img {
  width: 165px;
  height: 60px;
  margin-left: 56px;
  margin-top: 62px;
  object-fit: cover;
}
.bg > img {
  object-fit: cover;
  width: 612px;
  height: 437px;
  align-self: center;
  margin-left: 128px;
}
.passSpan {
  margin-top: -150px;
}
/*
Attendance style*/
.attendanceTitle {
  display: flex;
  justify-content: center;
}
.attendanceTitle > h2 {
  background-color: #1678cb;
  align-self: center;
  color: var(--color-bg);
  font-size: 36px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  width: 480px;
  text-align: center;
}

.title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 150px;
  font-size: 16px;
  font-weight: 500;
  width: 90%;
  margin-top: 50px;
}
.data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  box-shadow: 0 4px 2px -2px gray;
  margin-left: 150px;
  font-size: 15px;
  font-weight: 400;
  width: 90%;
  padding-bottom: 50px;
}
/* Media Query  */
@media only screen and (max-width: 600px) {
  /*test page */
  .attendanceTitle > h2 {
    width: 250px;
    align-self: center;
    font-size: 17px;
    text-align: center;
    margin-left: 180px;
  }
  .title {
    font-size: 14px;
  }
  .data {
    font-size: 12px;
  }
  /*front page */
  .container {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .bg {
    display: none;
  }
  .logo > img {
    width: 105px;
    height: 60px;
    margin-left: 56px;
    margin-top: 62px;
    object-fit: cover;
  }
  .form {
    align-self: center;
    width: 140%;
    height: 600px;
    gap: 50px;
    margin-left: 110px;
    box-shadow: none;
  }
  .span {
    margin-top: -50px;
    font-size: 12px;
    color: var(--color-small);
  }

  * > input {
    width: 200px;
    font-size: 12px;
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    align-self: center;
  }
  button {
    height: 49px;
    width: 100px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
  }
  .NameForm {
    width: 100px;
  }
  .logoo > img {
  width: 105px;
  height: 60px;
  margin-left: 110px;
  margin-top: 62px;
  object-fit: cover;
}
}
@media only screen and (max-width: 912px) and (min-width:768px){

}
